*{
    box-sizing: border-box;
}

.clicktotopbtn{
    position: relative;
    right: 50;
    bottom: 50;
}


header{
    height: 100vh;
    background: url("../assets/img/background/bg1.png"),#f4f4f4;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 30%;
    /* background-attachment: fixed; */
    position: relative;
}


/* Start nav bar */
.navbar{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px 5px;

    transition: background-color 0.7s;
}

.navmenus{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 5px;
}

.menuitems{
    display: inline-block;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid transparent;
    padding: 5px;
    margin: 0 8px;

    transition: all 0.3s;
}

.menuitems:hover{
    border: 1px solid #999;
    border-radius: 30px;
}

.btn{
    border: none;
    box-shadow: none;
}

.loginbtns{
    color: #fff;
    background-color: steelblue;
    border-radius: 30px;
}

.loginbtns:hover{
    color: #fff;
    transform: scale(1.05);
}

.loginbtns:active{
    color: #fff;
    transform: scale(1);
}
/* End nav bar */

/* Start Banner */
.banners{
    width: 90%;

    position: absolute;
    left: 50%;
    top: 45%;

    transform: translateX(-50%);
}

.bannerheaders{
    animation-name: bannerani;
    animation-duration: 2s;
}

.bannerletters{
    animation-name: bannerani;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

@media (max-width:768px){
    .banners{
        position: absolute;
        left: 50%;
        top: 70%;
    }
}

@keyframes bannerani {
    from{
        opacity: 0;
        transform: translate(-70px);
    }to{
        opacity: 1;
        transform: translate(0);
    }
}


/* End Banner */

/* Start Specs Section */
.titles{
    display: inline-block;
    padding: 5px 20px;
    position: relative;
}

.titles::before,.titles::after{
    content: "";
    width: 20px;
    height: 20px;
   
    position: absolute;    
}

.titles::before{
    border-right: 3px solid #999;
    border-top: 3px solid #999;
    border-radius: 0 15px 0 0;
    right: 0;
    top: 0;
}

.titles::after{
    border-left: 3px solid #999;
    border-bottom: 3px solid #999;
    border-radius: 0 0 0 15px;
    left: 0;
    bottom: 0;
}

#specsection{
    height: 800px;
}

.specbtn{
    color: grey;
    font-size: 18px;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;

    margin: 0 10px;
    transition: all 0.3s;
    animation-fill-mode: backwards;
}

.activespecs{
    color: #fff;
}

.specbtn:hover{
    border: 1px solid #999;
    border-radius: 15px;
}

#specsection{
    background: #000;
}

.specsphotos{
    display: block;
    margin: auto;
}
/* End Specs Section */

/* Start Detail Section */
.detailphotos1,.detailphotos2,.detailphotos3,.detailphotos4,.detailphotos5,.detailphotos6{
    display: block;
    justify-content: center;
    opacity: 0;
    transform: translateY(150px);

    transition: all 1s;
}
/* End Detail Section */

/* Start Pricing Section */

.card{
 
    transition: all 0.3s;
    margin: 0 10px;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 10px #999;
}

.list-group{
    list-style-type: none;
}

.list-group-item{
    border: none;
    border-bottom: 1px solid #999;
}
/* End Pricing Section */



/* Start Related Section */
.relatedphotos{
    display: block;
    margin: auto;

    width: 65%;
}
/* End Related Section */

/* What In box Section */
.whatinboxphto{
    display: block;
    margin: auto;
}
/* End what in box Section */


/* Start Contact Section */
.contacts{
    background:linear-gradient(
        100deg,
        rgba(0,0,0,0.8) 50%,
        rgba(0,0,0,0.5) 30%,
        transparent 70%
    ) ,url(../assets/img/background/bg2.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contactinput1,.contactinput2{
    color: #fff;
    background: none;
    border: none;
    border-bottom: 1px solid #999;
    padding: 0;
}

.contactinput1:focus{
    color: #fff;
    background: transparent;
    border-bottom: 1px solid yellow;
    box-shadow: none;
    
}

.contactinput2:focus{
    color: #fff;
    background: transparent;
    border-bottom: 1px solid yellow;
    box-shadow: none;
    
}

.contactlabel1,.contactlabel2{ 
    display: block;
    transition: all 0.3s;
}

.handsigns{
    display: inline-block;
    transform: translateX(30px);
    opacity: 0;

    transition: all 0.3s;
}

.subscribebtns:hover .handsigns{
    transform: translateX(0px);
    opacity: 1;
}

/* End Contact Section */


/* Footer Section */
.footerlinks{
    color: gray;
    text-decoration: none;

    transition: all 0.3s;
}

.footerlinks:hover{
    color: gray;
    letter-spacing: 1px;
    text-decoration: underline;
}

.footers{
    color: gray;
    text-decoration: none;
    transition: all 0.3s;
}

.footers:hover{
    color: gray;
    text-decoration: underline;
}
/* End Footer Section */

/* Modal */

/* .modal{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
} */

.modal-content{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);

    border-radius: 10px;
}

.modalinputs{
    color: #000;
    background: none;
    border: none;
    border-bottom: 1px solid #999;
    padding: 5px 0;
}

.modalinputs:focus{
    background: none;
    border: none;
    border-bottom: 1px solid steelblue;
    box-shadow: none;
}

.modallabels{
    display: block;
    transform: translateY(-55px);

    transition: all 0.3s;
}

.modalinputs:placeholder-shown + .modallabels{
    opacity: 0;
    transform: translateY(10px);
}

.modalbtns{
    width: 100%;
    transition: all 0.3s;
}

.modalbtns:hover{
    transform: scale(1.03);
}

.modalbtns:active{
    transform: scale(1);
}
/* End Modal */

/* .details4{
    position: relative;
}


.ads{
    width: 500px;
    background: black;
   

    position: absolute;
    left: 50%;
    top: 50%;
    
    z-index: 5;
} */